.card {
  width: 320px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardrow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
}

.card {
  max-width: 20%;
  margin: 10px;
  text-align: center;
}


.card h2 {
margin: 0 0 1rem 0;
color: #ccc;
text-align: center;
}

.card h4 {
margin: 0 0 1rem 0;
color: #ccc;
text-align: center;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #01050b;
  color: #0c0f10;
  border-color: #0c0e0e;
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}


@media (max-width: 600px) {
  .cardcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .cardcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

