.card {
  margin: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  align-items: center;
  text-align: center;
  flex-basis: 25%;
  flex-shrink: 1;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .cardcontainer {
    max-width: 700px;
  }
}

@media (max-width: 576px) {
  .cardcontainer {
    max-width: 400px;
  }
}

.card h2 {
  margin: 0 0 1rem 0;
  color: #ccc;
}

.card h4 {
  margin: 0 0 1rem 0;
  color: #ccc;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #01050b;
  color: #0c0f10;
  border-color: #0c0e0e;
}

@media (max-width: 768px) {
  .card {
    flex-basis: 33.33%;
  }
}

@media (max-width: 576px) {
  .card {
    flex-basis: 50%;
  }
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}
